.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    
}


 
.wrapper {
    display: flex;
    flex-direction: row;
    width: 184px;
    height: 184px;
    align-items: center;
    justify-content: center;
}

.outer {
    width: 184px;
    height: 184px;
    /* border: 1px solid #ccc; */
    box-shadow: -1px -1px 5px 0 rgb(8, 8, 8),  3px 3px 5px black;
    border-radius: 100%;
    padding: 17px;
}

.inner {
    width: 148px;
    height: 148px;
    box-shadow: inset -1px -1px 5px 0 rgb(8, 8, 8), inset 3px 3px  5x black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon {
    color: aqua;
}



