.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 24px;
    
}

.card_skill{
  

    display: flex;
    justify-content: center;
    align-items: center;
   
    border: 1px solid red;
    width: 184px;
    height: 184px;


  
}

.card_skill_language  {
 
    fill: var(--primarycolorButton);

}
