.container_skill {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width:  100%;
    height:525px;

}
.container_skill p {
    margin-top:100px;
    font-family: var(--font-title);
    color: var(--primarycolorButton);
    letter-spacing: 4px;

}

.container_skill h1 {
    font-size: 48px;
    font-family: var(--font-title);
    letter-spacing: 4px;
    margin-bottom: 54px;
}