.flip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: var(--greyscale800);
    padding: 5px;
    width: 288px;
    height: 356px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: 0.3s;
    perspective: 1000px;
}


.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back{
   position: absolute;
}

.flip-card-front img {
    width: 100%;
    height:100% ;
    border-radius: 5px;
    object-fit: cover;
}
/* .flip-card-back {
 width: 288px;
 height: 221px;   
 display: flex;
 flex-direction: column;
 justify-content: center;
 
} */

/* .flip-card-back a {
    width: 92px;
    height: 25px;
    border-radius: 8px;
    background: var(--grescale700);
    padding-top: 2px;
    margin-left: 5px;

} */

/* .flip-card-back h3 {
    margin-top: 10px;
}

.flip-card-back p {
    text-align: center;
} */


