.aboutme_section {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding-top: 30px;
background-color: var(--background-app);
}
.about__me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 644px;
    height: 422px;
    

}

.about__me h1 {
    font-family: var(--font-titulo);
    font-size: 4em;
    letter-spacing: 4px;
    color: var(--greyscale);
}

.about__me p {
    font-family: var(--font-paragrafo);
    font-size: 16px;
    text-align: justify;
}

#about_me_button {
 border-radius: 8px;
 background: linear-gradient(180deg, #473bc1 0%, #6f61ff 100%);
 color: var(--greyscale);
 text-decoration: none;
 font-family: var(--font-paragrafo);
 padding: 12px;
width: 176px; 
}

#about_me_button:hover {
    box-shadow: 4px black;
    border: 1px solid var(--greyscale);
    color: white;
}

.about_me_button_donwload{
    margin-right: 10px;
}


.aboutme__links ul {
   

    font-size: 1rem;
    list-style-type: none;
 
    
}

.aboutme__links li {
    width: 246px;
    height: 56px;
    border-left: 5px solid var(--background-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

  

}

