.aboutme_section {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding-top: 30px;
background-color: var(--background-app);
}
.about__me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 644px;
    height: 422px;
    

}

.about__me h2 {
    font-family: var(--font-title);
    font-size: 48px;
    letter-spacing: 4px;
    color: var(--greyscale);
}

.about__me p {
    font-family: var(--font-body);
    font-size: 16px;
    text-align: justify;
}

.about__me a {
 border-radius: 8px;
 border: 0.2px solid var(--greyscale);
 background: rgb(71,59,193);
 background: linear-gradient(49deg, #292839 80%, rgba(132,135,164,1) 100%);
 color: var(--greyscale);
 text-decoration: none;
 font-family: var(--font-body);
 padding: 12px;
  width: 176px;
  height: 48px;  
}
.aboutme__links ul {
   
    display:  flex;
    flex-direction: column;
    gap: 8px;
    font-family: var(--font-body);
    font-size: 16px;
    list-style-type: none;
 
    
    
    
}

.aboutme__links li {
    width: 246px;
    height: 56px;
    border-left: 5px solid var(--background-fundo);

  

}

.aboutme__links a {
 text-decoration: none;
 


}